{%extends "country_floral_app/base.html" %}

{%block header%}
{% load staticfiles %}
<header class="intro-header-small" style="background-image: url('{% static 'country_floral_app/img/background_4.jpg' %}')">
<!--<header class="intro-header-small" style="background-color: blue">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1 class="site-heading">About</h1>
            </div>
        </div>
    </div>
</header>

{%endblock%}

{%block contents%}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <h2 class="post-title">About the Company</h2>
            <p class="post-meta" style="letter-spacing: 0px; text-align:left; ">
                Located in Nampa and serving the Treasure Valley for over 35 years.
                Country Floral takes great pride in creating unique custom pieces to meet each individuals need.
            </p>
            <p class="post-meta" style="letter-spacing: 0px; text-align:left; ">
                Our floral team is blessed to have more than 60 years of experience between all the talented designers. We do not take for
                granted that with every order comes the opportunity for friendship and memories with our customers.
            </p>

            <h2 class="post-title">About the Owner</h2>
            <p class="post-meta" style="letter-spacing: 0px; text-align:left; ">
                The owner, Cyndi Simpson, has always had a deep love and appreciation for flowers.
                As a little girl her father being a very practical man; upon Cyndi's persistence to plant flowers in the garden said,
                "You Can't Eat Flowers!"
            </p>
            <p class="post-meta" style="letter-spacing: 0px; text-align:left; ">
                Well you can eat flowers and plant them too.  Many unique varieties of flowers and plants grace Cyndi's yard, gardens and flower shop.
            </p>
            <p class="post-meta" style="letter-spacing: 0px; text-align:left; ">
                 Her love of flowers created a burning desire within her to create flowers to speak words of Love and Compassion
                 that we only wish our mouths could so eloquently speak to those we love and care about.
            </p>
        </div>
    </div>
</div>
{%endblock%}
