{%extends "country_floral_app/base.html" %}

{%block header%}
<br>
<br>
<br>
<br>
<br>
<div class="col-lg-6">
    <div class="row">
        <div class="col-lg-12 myinput">
            <label></label>
            <label>Test</label>
            <input type="text" class="form-control" id="recipient" maxlength="30">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 myinput">
            <label></label>
            <label>Test</label>
            <input type="text" class="form-control" id="recipient" maxlength="30">
        </div>
    </div>
</div>

{%endblock%}

{%block contents%}
{%endblock%}
